name: Deploy to VPS

on:
  workflow_dispatch:
  repository_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.DEVOPS_SSH_KEY }}
          script: |
            pwd
            cd /home/${{ secrets.SSH_USER }}/projects/pal-poll/infra
            git pull origin main
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker compose pull --build
            docker compose up -d
            docker system prune -af
